/.classpath
/.project
/.settings/
/target/
/bin/
/data/
/docs/
/.metadata/
*/RemoteSystemsTempFiles/*

*.jar

*.log
dependency-reduced-pom.xml
src/main/resources/epigraph/voronoiNoiseReference/old/*.txt