/.classpath
/.project
/.settings/
/target/
/bin/
/data/
/docs/
/.metadata/
*/RemoteSystemsTempFiles/*
*DatasetOfImages.zip*
*/DatasetOfImages/*
*../videos/*
*.log
dependency-reduced-pom.xml
src/main/resources/epigraph/voronoiNoiseReference/old/*.txt
*.jpg
/results/
*.xlsx
